<table>
    <thead>
        <tr>
            <th>Região</th>
            <th>Projeto</th>
            <th>Espécie</th>
            <th>Temperatura da Água</th>
            <th>Nível de Poluição</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dados of infos">
            <td >{{ dados.regiao }}</td>

            <td>
                <ul>
                    <li *ngFor="let projeto of dados.projetosConservacao">{{projeto.nomeProjeto}}</li>
                </ul>
            </td>

            <td>
                <ul>
                    <li *ngFor="let especie of dados.especies">{{especie.nome}}</li>
                </ul>
            </td>

            <td>{{ dados.temperaturaAgua }}</td>

            <td>{{ dados.nivelPoluicao }}</td>

        </tr>
    </tbody>
</table>