<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="header.component.css">
</head>

<body>
    <header>
        <h1>Oceanic Data Explorer</h1>
        <nav>
            <a href="#">Home</a>
            <a href="#">Ocean Conditions</a>
            <a href="#">Endangered Species</a>
            <a href="#">Conservation Projects</a>
        </nav>
    </header>
</body>

</html>