<form>
    <div class="form-group">
        <label for="region">Region</label>
        <select id="region" name="region">
            <option value="all">All</option>
            <option value="{{regiao}}" *ngFor="let regiao of regioes">{{regiao}}</option>
        </select>

        <label for="species">Species</label>
        <select id="species" name="species">
            <option value="all">All</option>
            <option value="{{specie}}" *ngFor="let specie of species">{{specie}}</option>
        </select>

        <label for="conservationStatus">Conservation Status</label>
        <select id="conservationStatus" name="conservationStatus">
            <option value="all">All</option>
            <option value="{{st}}" *ngFor="let st of status">{{st}}</option>
        </select>

        <label for="waterTemperature">Water Temperature</label>
        <input type="text" id="waterTemperature" name="waterTemperature">

        <label for="ph">pH</label>
        <input type="text" id="ph" name="ph">

        <label for="pollutionLevels">Pollution Levels</label>
        <input type="text" id="pollutionLevels" name="pollutionLevels">
    </div>

    <div class="button-container">
        <button type="button" (click)="filtrar()">Search</button>
    </div>

    <p></p>
</form>