body {
    font-family: Arial, sans-serif;
}

.filters {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 2px 2px 12px #aaa;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.form-group label {
    margin-right: 10px;
}

.form-group select,
.form-group input {
    flex: 1;
    padding: 5px;
    margin-right: 10px;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.filters button {
    padding: 10px 20px;
}